# -------------------------
# Python
# -------------------------
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# -------------------------
# FAISS Indexes
# -------------------------
backend/faiss_indexes/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Node (if used)
# -------------------------
node_modules/

# -------------------------
# Build files
# -------------------------
dist/
build/